<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="l-primary">
  <div class="container" id="contact_us_container">
    <h1 id="page_title"></h1>

    <div class="row blog_div">
      <div class="col-sm-8" id="mentor_description">
        <article id="first">
          <p>
            <a href="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png"><img class="alignnone size-full wp-image-1586" src="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png" alt="MentorMapp" width="827" height="552" srcset="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd-300x200.png 300w, https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd-133x89.png 133w, https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png 827w" sizes="(max-width: 827px) 100vw, 827px"></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>

          <h1 class="entry-title" itemprop="headline">Coaching A Profession Not Just A Skill, Here are 5 Things You
            Should Know</h1>

          <p><strong> Coaching is a growing profession:</strong>
            Coaching is a growing in size, with 47,000 International Coach Federation-accredited coaches generating $2
            billion in revenues, according to a 2012 ICF survey.</p>

          <p><strong> Coaching is a global profession:</strong>
            Coaching as a profession is geographically concentrated in high-income regions such as Western Europe, North
            America, Oceania, and rapidly expanding BRICs in Eastern Europe and Asia.
          </p>

          <p><strong>
            Coaching is a diverse profession:</strong>
            Coaching encompasses a diverse set of specialties. Coaches have a lot of variation in levels of income,
            hourly wages, weekly hours coaching, and number of clients.
          </p>

          <p>
            <strong>Coaching is a confident profession:</strong>
            Coaching takes a confident view into the future. Coaches have appositive outlook in their capability to
            create value even in the midst of economic recessions.
          </p>

          <p>
            <strong> Coaching is a profession, not just a skill:</strong>
            The ICF 2012 survey results reveal an increased recognition of coaching as a profession not merely a skill
            set. Coaching remains a self- regulated profession. If you have appropriate credentials, we would like you
            as coach. If you join us in our community of practice, you can help the profession regulate itself.
          </p>

          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and
            companies) seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect
            with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and
            wellbeing. Participants can share their experiences with the community in total confidentiality. We focus on
            the success factors critical to sustain return on your investment in future and existing coaching and
            mentoring engagements.

            Join the movement or simply let us know your thoughts about this blog post.<br/>

            -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="second">
          <div class="edit-link"></div>
          <h1 class="entry-title" itemprop="headline">Transition To Become A Coach, 6 Questions You Need to Ask
            Yourself</h1>
          <!--<div class="entry-meta"><span class="posted-on">Posted on <time class="updated" datetime="2016-01-14T18:36:00+00:00" itemprop="datePublished">January 14, 2016</time></span> | <span class="byline"> By <span class="author vcard" itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author"><a class="url fn n" href="https://www.ideator.com/blog/author/jesanders/" itemprop="name">Jeremy Sanders</a></span></span> | <span class="categories"><a href="https://www.ideator.com/blog/category/entrepreneurship/" title="View all posts in Entrepreneurship">Entrepreneurship</a>, <a href="https://www.ideator.com/blog/category/ideas/" title="View all posts in Ideas">Ideas</a>, <a href="https://www.ideator.com/blog/category/starting-a-business/" title="View all posts in Starting a Business">Starting a Business</a></span></div>-->
          <p>
            <a href="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png"><img class="alignnone size-full wp-image-1586" src="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png" alt="MentorMapp" width="827" height="552" srcset="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd-300x200.png 300w, https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd-133x89.png 133w, https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png 827w" sizes="(max-width: 827px) 100vw, 827px"></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>

          <p>Many people become coaches after having already having had one or more careers. So they have accumulated a
            wealth of knowledge and skills. Your background can help you as a professional coach. But coaching is a
            distinct profession, and it’s important to acquire and practice the necessary skills by enrolling in a coach
            training program. There are a variety of coach training program to choose from. While you are researching
            programs, consider:
            - How do you enjoy learning?
            - Do you like to explore theory and practice?
            - How and where do you want to receive your training – in person, on line, or a combination?
            - Will your needs be met better by a program offered by a university or by training at an independent
            school?
            - What type of coaching would you focus on after training? Some programs may align better with your goals
            than others.
            - How much time and money are you willing to invest in your training? Programs vary greatly in cost and the
            time commitment required.
            Of course, you can find plenty of options to consider with a simple internet search. Use your preferences to
            help select a manageable number of programs to compare. You can also visit sites such as
            www.coachfederation.org to see a list of training programs accredited or approved by the International Coach
            Federation.</p>

          <p>
            Attending an ICF-recognized program will help to ensure that you receive well-rounded training and
            education, that you get the benefits of working with a mentor coach, and that you accumulate coaching
            practice hours. You may also want to connect with local coaches in your area to see if they can recommend a
            training program. If you know a coach ask them about their coach training experiences or you can connect
            with your local ICF chapter and talk to local coaches about the program they attended.
          </p>

          <p>
            Good luck selecting a training option as you move along the path to becoming a professional coach.
          </p>

          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and
            companies) seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect
            with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and
            wellbeing. Participants can share their experiences with the community in total confidentiality. We focus on
            the success factors critical to sustain return on your investment in future and existing coaching and
            mentoring engagements.
          </p>
          Join the movement or simply let us know your thoughts about this blog post.<br/>
          -- Zoe, Social Media at MentorMapp ®


        </article>
        <hr/>

        <article id="third">
          <p>
            <a href="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png"><img class="alignnone size-full wp-image-1586" src="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png" alt="MentorMapp" width="827" height="552" srcset="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd-300x200.png 300w, https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd-133x89.png 133w, https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png 827w" sizes="(max-width: 827px) 100vw, 827px"></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>

          <h1 class="entry-title" itemprop="headline">Selecting A Professional Coach in 4 Steps</h1>

          <p>
            Guidelines on selecting a professional coach to work with after you interviewed several difference
            coaches: </p>

          <p>
            You have done your research on coaching and found about the objectives you want to address and invested time
            into interviewing several coaches. Now is time to make a final selection and then think about what’s
            important to include in a contract between you and the coach you selected.
          </p>

          <p>
            Take some time to study your notes and review all of the pros and cons you have collected during your
            interviews with coaches. Hopefully, you have interviewed at least three coaches during this process and most
            likely collected quite a few notes from the many questions you asked each coach.
          </p>

          <p>
            Consider how you feel about each coach. Do you feel confortable with their level of education and training?
            Did you receive positive information from their references? Are you happy with how the coach prefers to
            deliver coaching sessions in terms of methods, length, and frequency? Can you afford the coach’s fees?
          </p>

          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and
            companies) seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect
            with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and
            wellbeing. Participants can share their experiences with the community in total confidentiality. We focus on
            the success factors critical to sustain return on your investment in future and existing coaching and
            mentoring engagements.
            <br/>

            -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="fourth">
          <p>
            <a href="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png"><img class="alignnone size-full wp-image-1586" src="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png" alt="MentorMapp" width="827" height="552" srcset="https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd-300x200.png 300w, https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd-133x89.png 133w, https://www.ideator.com/wp-content/uploads/96faa55e-7df3-4cf3-a850-b934e73aa6bd.png 827w" sizes="(max-width: 827px) 100vw, 827px"></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>

          <h1 class="entry-title" itemprop="headline">When Contracting With A Professional Coach, 4 Absolut Must
            Have</h1>

          <p>
            Guidelines on selecting a professional coach to work with after you interviewed several difference coaches
            are referred to the “on selecting a coach” section.</p>

          <p>
            Once you have made your choice, make sure to request a contract from your coach. Having a contract in place
            will make sure that both parties know what’s expected from the coaching partnership. The contract must
            include details on:

            - How sessions will be offered – via phone, in-person, or some combination of the two. (Remember that Skype
            and similar platforms can give you and enhanced phone experience.)
            - How support outside of session will be offered
            - Fees for services provided
            - The initial term of the coaching partnership

          </p>

          <p>
            Follow these tips to help ensure that your coaching experience is a positive and effective partnership.</p>
          </p>
          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and
            companies) seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect
            with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and
            wellbeing. Participants can share their experiences with the community in total confidentiality. We focus on
            the success factors critical to sustain return on your investment in future and existing coaching and
            mentoring engagements.
          </p>

          <p>
            Join the movement or simply let us know your thoughts about this blog post.
          </p>

          <br/>

          -- Zoe, Social Media at MentorMapp ®</p>
        </article>
      </div>
      <div class="col-sm-4 contact_image">
        <!-- Blog Sidebar Widgets Column -->
        <!-- Blog Search Well -->
        <div class="pull-right">
          <h4>Blog Search</h4>

          <div class="input-group">
            <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
          </div>
        </div>

        <div class="row" style="margin-left: 0px;">
          <div class="col-sm-offset-2 col-sm-8 pull-right">
            <h4>Recent Posts</h4>
          <ul class="list-unstyled">
            <li><a href="#first">Coaching A Profession Not Just A Skill, Here are 5 Things You Should Know</a>
            </li>
            <hr/>
            <li><a href="#second">Transition To Become A Coach, 6 Questions You Need to Ask Yourself
            </a>
            </li>
            <hr/>
            <li><a href="#third">Selecting A Professional Coach in 4 Steps
            </a>
            </li>
            <hr/>
            <li><a href="#fourth">When Contracting With A Professional Coach</a>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    body {
        background-image: none;
    }</style>