.events_form .simple_form .form-control {
    background: none repeat scroll 0 0 #eeeded;
    border: 1px solid #ad9d9d;
    border-radius: 4px;
    color: #2d2525;
    padding: 3px 4px;
}

.events_form .simple_form .form-actions input {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 3px 4px;
    line-height: 2em;
}

.event_index {
    
}