.profile_form .simple_form .form-control {
    background: none repeat scroll 0 0 #eeeded;
    border: 1px solid #ad9d9d;
    border-radius: 4px;
    color: #2d2525;
    padding: 3px 4px;
    width: 90%;
}

.profile_form .simple_form .form-actions input {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 3px 4px;
    width: 90%;
    line-height: 2em;
    margin-left: 3%;
}

.profile_container {
  margin: 120px 10px;
  label {
    text-align: right;
  }
}

.image {
  float:left;
}

.pic_with_name {
  a {
    float:left;
  }
  margin: 30px;
}
.profile_info {
  float:right;
}

.profile_videos {
  max-width: 1200px; 
  min-width: 1000px; 
  // padding: none;
  .intro_video {
    // float:left;
  }
  .what_sets_you_apart_video {
    // float:right;
    // margin-left: 5%;
  }
  p {
    font-weight: 700;
  }
}