<div class="container tos_formatting">
  <p>
    THIS FOLLOWING USER AGREEMENT DESCRIBES THE TERMS AND CONDITIONS ON WHICH MentorMapp Co. Incorporated OFFERS YOU ACCESS TO THE MentorMapp PLATFORM.
  </p>
  <ol>
    <li>
      <strong>Recitals</strong>
      <ul>
        <li>
          These terms of service constitute a legally binding agreement (the “Agreement”) between you (“you,” or “your”) and MentorMapp Co. Incorporated (“MentorMapp,” “we,” “us” or “our”), a Delaware corporation, governing your use of the MentorMapp application, website, and technology platform (collectively, the “MentorMapp Platform”).
        </li>
        <li>
          The MentorMapp Platform provides a marketplace in which a person, or entity, seeking coaching (“Customer”) can be matched with a person, or entity, providing professional coaching services (“Coach”). Customers and Coaches are collectively referred to herein as “Users” and each User shall create a User account that enables such User to access the MentorMapp Platform. For purposes of this Agreement, the coaching services provided by Coaches to Customers that are matched through the Platform shall be referred to collectively as the “Services”.
        </li>
        <li>
          MentorMapp DOES NOT PROVIDE COACHING SERVICES, AND MentorMapp IS NOT A COACHING COMPANY. IT IS UP TO A COACH TO DECIDE WHETHER OR NOT TO OFFER COACHING TO A CUSTOMER CONTACTED THROUGH THE MentorMapp PLATFORM, AND IT IS UP TO A CUSTOMER TO DECIDE WHETHER OR NOT TO ACCEPT COACHING FROM ANY COACH CONTACTED THROUGH THE MentorMapp PLATFORM. ANY DECISION BY A USER TO OFFER OR ACCEPT SERVICES ONCE SUCH USER IS MATCHED THROUGH THE MentorMapp PLATFORM IS A DECISION MADE IN SUCH USER’S SOLE DISCRETION. EACH COACHING SERVICE PROVIDED BY A COACH TO A CUSTOMER SHALL CONSTITUTE A SEPARATE AGREEMENT BETWEEN SUCH PERSONS.
        </li>
        <li>
          By signing a copy of this agreement below, you expressly acknowledge that you understand this Agreement and accept all of its terms.IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU MAY NOT USE OR ACCESS THE MentorMapp PLATFORM OR THE SERVICES.
        </li>
      </ul>
    </li>
    <li>
      <strong>Modification to the Agreement</strong>
      <ul>
        <li>
          We reserve the right to modify the terms and conditions of this Agreement at any time, effective upon posting the amended terms on this site. If we make changes, we will notify you by, at a minimum, revising the “Last Updated” date at the top of this Agreement. You are responsible for regularly reviewing this Agreement. Continued use of the MentorMapp Platform or Services after any such changes shall constitute your consent to such changes. If you do not agree to any such changes you may not use or access the MentorMapp Platform or the Services.
        </li>
      </ul>
    </li>
    <li>
      </a> <strong>Eligibility</strong>
      <ul>
        <li>
          The MentorMapp Platform is available only to, and may only be used by individuals who can form legally binding contracts under applicable law. Without limiting the foregoing, the MentorMapp Platform is not available to children (persons under the age of 18) or Users who have had their User account temporarily or permanently deactivated. By becoming a User, you represent and warrant that you are at least 18 years old and that you have the right, authority and capacity to enter into and abide by the terms and conditions of this Agreement.
        </li>
      </ul>
    </li>
    <li>
      <strong>Payments</strong>
      <ul>
        <li>
          As a Customer, you agree that any amount charged for coaching services (a “Charge”) are mandatory and due and payable upon performance of the coaching services. Charges include Coaching Fees and other applicable fees, surcharges, and taxes, plus any tips to the Coach that you elect to pay.
          <ul>
            <li>
              Coaching Fees. Coaching Fees will be quoted in advance. Coaches will be responsible for setting the applicable rate for their services.
            </li>
            <li>
              Cancellation Fee. In the event that you cancel a Coaching event on the MentorMapp Platform less than 5 days before the coaching is scheduled to commence, you agree that you may be responsible for paying a “Cancellation Fee” to the Coach.
            </li>
            <li>
              Facilitation of Payments. All Charges are facilitated through a third-party payment processing service (e.g., Stripe, Inc., or Braintree, a division of PayPal, Inc.). MentorMapp may replace its third-party payment processing services without notice to you. Charges shall only be made through the MentorMapp Platform. Cash payments are strictly prohibited.
            </li>
            <li>
              No Refunds. Charges are assessed immediately upon confirmation of a coaching contract through your authorized payment method. All Charges are non-refundable. This no-refund policy shall apply at all times regardless of your decision to terminate usage of the MentorMapp Platform, any disruption to the MentorMapp Platform or Services, or any other reason whatsoever.
            </li>
            <li>
              Credit Card Authorization. Upon addition of a new payment method or each coaching request, MentorMapp may seek authorization of your selected payment method to verify your payment method, ensure the coaching cost will be covered, and protect against unauthorized behavior. The authorization is not a charge, however, it may reduce your available credit by the authorization amount until your bank’s next processing cycle. Should the amount of our authorization exceed the total funds on deposit in your account, you may be subject to overdraft of NSF charges by the bank issuing your debit or check card. We cannot be held responsible for these charges and are unable to assist you in recovering them from your issuing bank.
            </li>
          </ul>
        </li>
        <li>
          As a Customer or Coach, in exchange for using the MentorMapp Platform, you agree to pay a membership fee (the “Membership Fee”). The amount of the applicable Membership Fee will be communicated to you in writing but is subject to change on a prospective basis at MentorMapp’s discretion.
        </li>
        <li>
          As a Coach, you will receive applicable Coaching Fees (net of MentorMapp’s Administrative Fee, as discussed below) and any tips provided by Customers to you for the Services you provide. MentorMapp will process all payments due to you through its third party payments processor. You acknowledge and agree that such amounts shall not include any interest and will be net of any amounts that we are required to withhold by law. MentorMapp reserves the right to withhold all or a portion of Coaching Fees if it believes that you have attempted to defraud or abuse MentorMapp or MentorMapp’s payment systems.
        </li>
        <li>
          In exchange for MentorMapp providing resale services through the MentorMapp Platform, you agree to pay MentorMapp (and permit MentorMapp to retain) a fee of up to 20% (the “Administrative Fee”) of the Fees paid by Customers for resold Products or Services. The amount of the applicable Administrative Fee will be communicated to you in writing but is subject to change on a prospective basis at MentorMapp’s discretion.
        </li>
      </ul>
    </li>
    <li>
      <strong>Your Information</strong>
      <ul>
        <li>
          Your Information is any information you provide, publish or post to or through the MentorMapp Platform (including any profile information you provide) or send to other Users (including via in-application feedback, any email feature, or through any MentorMapp-related Facebook, Twitter or other social media posting) (your “Information”). You consent to us using your Information to create a User account that will allow you to use the MentorMapp Platform and participate in the Services. Our collection and use of personal information in connection with the MentorMapp Platform and Services is as provided in MentorMapp’s Privacy Policy included herein or posted on the Site.
        </li>
        <li>
          You are solely responsible for your Information and your interactions with other members of the public, and we act only as a passive conduit for your online posting of your Information. You agree to provide and maintain accurate, current and complete information and that we and other members of the public may rely on your Information as accurate, current and complete.
        </li>
        <li>
          You warrant and represent to us that you are the sole author of your Information. To enable the MentorMapp Platform to use your Information, you grant to us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable (through multiple tiers) right and license to exercise the copyright, publicity, and database rights you have in your Information, and to use, copy, perform, display and distribute such Information to prepare derivative works, or incorporate into other works, such Information, in any media now known or not currently known. MentorMapp does not assert any ownership over your Information; rather, as between us and you, subject to the rights granted to us in this Agreement, you retain full ownership of all of your Information and any intellectual property rights or other proprietary rights associated with your Information.
        </li>
        <li>
          You are the sole authorized user of your account. You are responsible for maintaining the confidentiality of any password provided by you or MentorMapp for accessing the MentorMapp Platform. You are solely and fully responsible for all activities that occur under your User account, and MentorMapp expressly disclaims any liability arising from the unauthorized use of your User account. Should you suspect that any unauthorized party may be using your User account or you suspect any other breach of security, you agree to notify us immediately.
        </li>
      </ul>
    </li>
    <li>
      <strong>MentorMapp Communications</strong>
      <ul>
        <li>
          By becoming a User, you expressly consent and agree to accept and receive communications from us, including via e-mail, text message, calls, and push notifications to the cellular telephone number you provided to us. By consenting to being contacted by MentorMapp, you understand and agree that you may receive communications generated by automatic telephone dialing systems and/or which will deliver prerecorded messages sent by or on behalf of MentorMapp, its affiliated companies and/or Coaches, including but not limited to: operational communications concerning your User account or use of the MentorMapp Platform or Services, updates concerning new and existing features on the MentorMapp Platform, communications concerning promotions run by us or our third party partners, and news concerning MentorMapp and industry developments.IF YOU WISH TO OPT-OUT OF PROMOTIONAL EMAILS, TEXT MESSAGES, OR OTHER COMMUNICATIONS, YOU MAY OPT-OUT BY FOLLOWING THE UNSUBSCRIBE OPTIONS PROVIDED TO YOU. Standard text messaging charges applied by your cell phone carrier will apply to text messages we send. You acknowledge that you are not required to consent to receive promotional messages as a condition of using the MentorMapp Platform or the Services. However, you acknowledge that opting out of receiving text messages or other communications may impact your use of the MentorMapp Platform or the Services.
        </li>
      </ul>
    </li>
    <li>
     <strong>Restricted Activities</strong>
      <ul>
        <li>
          With respect to your use of the MentorMapp Platform and your participation in the Services, you agree that you will not:
          <ul>
            <li>
              impersonate any person or entity;
            </li>
            <li>
              stalk, threaten, or otherwise harass any person, or carry any weapons;
            </li>
            <li>
              violate any law, statute, ordinance or regulation;
            </li>
            <li>
              interfere with or disrupt the Services or the MentorMapp Platform or the servers or networks connected to the MentorMapp Platform;
            </li>
            <li>
              post Information or interact on the MentorMapp Platform or Services in a manner which is false, inaccurate, misleading (directly or by omission or failure to update information), defamatory, libelous, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, or illegal;
            </li>
            <li>
              use the MentorMapp Platform in any way that infringes any third party’s rights, including but not limited to: intellectual property rights, copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy;
            </li>
            <li>
              post, email or otherwise transmit any malicious code, files or programs designed to interrupt, damage, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or surreptitiously intercept or expropriate any system, data or personal information;
            </li>
            <li>
              forge headers or otherwise manipulate identifiers in order to disguise the origin of any information transmitted through the MentorMapp Platform;
            </li>
            <li>
              “frame” or “mirror” any part of the MentorMapp Platform, without our prior written authorization or use meta tags or code or other devices containing any reference to us in order to direct any person to any other web site for any purpose; or
            </li>
            <li>
              modify, adapt, translate, reverse engineer, decipher, decompile or otherwise disassemble any portion of the MentorMapp Platform or any software used on or for the MentorMapp Platform;
            </li>
            <li>
              rent, lease, lend, sell, redistribute, license or sublicense the MentorMapp Platform or access to any portion of the MentorMapp Platform;
            </li>
            <li>
              use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, scrape, “data mine”, or in any way reproduce or circumvent the navigational structure or presentation of the MentorMapp Platform or its contents;
            </li>
            <li>
              link directly or indirectly to any other web sites;
            </li>
            <li>
              transfer or sell your User account, password and/or identification to any other party; or
            </li>
            <li>
              cause any third party to engage in the restricted activities above.
            </li>
            <li>
              We reserve the right, but we have no obligation, to suspend or deactivate your User account if you do not comply with these prohibitions.
            </li>
          </ul>
        </li>
        <li>
          As additional consideration for using the MentorMapp Platform and being introduced to Customers through the Platform, you agree that if you terminate your relationship with MentorMapp, you will not solicit any of the Customers introduced to you by the Platform for a period of twelve (12) months following the inception or renewal of your relationship with MentorMapp.
        </li>
      </ul>
    </li>
    <li>
      <strong>Coach Representations and Warranties</strong>
      <ul>
        <li>
          By providing Services as a Coach on the MentorMapp Platform, you represent, warrant, and agree that:
          <ul>
            <li>
              You will be solely responsible for any and all liability that results from or is alleged as a result of your provision of Services, including, but not limited to personal injuries, death and property damages.
            </li>
            <li>
              You will comply with all applicable laws, rules and regulations while providing Services, and you will be solely responsible for any violations of such provisions.
            </li>
            <li>
              You will pay all applicable federal, state and local taxes based on your provision of Services and any payments received by you.
            </li>
            <li>
              You are qualified to provide the coaching Services that you are contractually obligating yourself to provide and you maintain appropriate levels of insurance for such Services.
            </li>
            <li>
              All information you provide to MentorMapp (including information provided during the vetting and application process) is true and complete and correct and does not fail to state or omit any information material to the statements made.
            </li>
            <li>
              You will not make any misrepresentation regarding MentorMapp, the MentorMapp Platform, the Services or your status as a Coach, or, while providing the Services, or engage in any other activity in a manner that is inconsistent with your obligations under this Agreement.
            </li>
            <li>
              You will not attempt to defraud MentorMapp or Customers in connection with your provision of Services. If we suspect that you have engaged in fraudulent activity we may withhold applicable Coaching Fees or other payments.
            </li>
            <li>
              You will not discriminate or harass anyone on the basis of race, national origin, religion, gender, gender identity, physical or mental disability, medical condition, marital status, age or sexual orientation. You will make reasonable accommodation for service animals.
            </li>
            <li>
              You agree that we may obtain information about you, including your criminal records, and you agree to provide any further necessary authorizations to facilitate our access to such records during the term of the Agreement.
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>
  <ol>
    <li>
      <strong>Proprietary Rights and Trademark License</strong>
      <ul>
        <li>
          All intellectual property rights in the MentorMapp Platform shall be owned by us absolutely and in their entirety. These rights include and are not limited to database rights, copyright, design rights (whether registered or unregistered), trademarks (whether registered or unregistered) and other similar rights wherever existing in the world together with the right to apply for protection of the same. All other trademarks, logos, service marks, company or product names set forth in the MentorMapp Platform are the property of their respective owners. You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information (“Submissions”) provided by you to us are non-confidential and shall become the sole property of MentorMapp. MentorMapp shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without acknowledgment or compensation to you.
        </li>
        <li>
          MentorMapp, DUNAMO, the MentorMapp and Dunamo logos, designs, graphics, icons, scripts and service names are trademarks or trade dress, including registered trademarks, of MentorMapp in the United States and/or other countries (collectively, the “MentorMapp Marks”). If you provide Services as a Coach, MentorMapp grants to you, during the term of this Agreement, and subject to your compliance with the terms and conditions of this Agreement, a limited, revocable, non-exclusive license to display and use the MentorMapp Marks solely in connection with providing the Services through the MentorMapp Platform (“License”). The License is non-transferable and non-assignable, and you shall not grant to any third party any right, permission, license or sublicense with respect to any of the rights granted hereunder without MentorMapp’s prior written permission, which it may withhold in its sole discretion. The MentorMapp Marks may not be used in any manner that is likely to cause confusion.
        </li>
        <li>
          You acknowledge that MentorMapp is the owner and licensor of the MentorMapp Marks, and that your use of the MentorMapp Marks will confer no additional interest in or ownership of the MentorMapp Marks in you but rather inures to the benefit of MentorMapp. You agree to use the MentorMapp Marks strictly in accordance with MentorMapp’s Trademark Usage Guidelines, as may be provided to you and revised from time to time, and to immediately cease any use that MentorMapp determines to nonconforming or otherwise unacceptable.
        </li>
        <li>
          You agree that you will not:
          <ul>
            <li>
              create any materials that incorporate the MentorMapp Marks or any derivatives of the MentorMapp Marks other than as expressly approved by MentorMapp in writing;
            </li>
            <li>
              use the MentorMapp Marks in any way that tends to impair their validity as proprietary trademarks, service marks, trade names or trade dress, or use the MentorMapp Marks other than in accordance with the terms, conditions and restrictions herein;
            </li>
            <li>
              take any other action that would jeopardize or impair MentorMapp’s rights as owner of the MentorMapp Marks or the legality and/or enforceability of the MentorMapp Marks, including, without limitation, challenging or opposing MentorMapp’s ownership in the MentorMapp Marks;
            </li>
            <li>
              apply for trademark registration or renewal of trademark registration of any of the MentorMapp Marks, any derivative of the MentorMapp Marks, any combination of the MentorMapp Marks and any other name, or any trademark, service mark, trade name, symbol or word which is similar to the MentorMapp Marks;
            </li>
            <li>
              use the MentorMapp Marks on or in connection with any product, service or activity that is in violation of any law, statute, government regulation or standard.
            </li>
          </ul>
        </li>
        <li>
          Violation of any provision of this License may result in immediate termination of the License, in MentorMapp’s sole discretion. If you create any materials bearing the MentorMapp Marks (in violation of this Agreement or otherwise), you agree that upon their creation MentorMapp exclusively owns all right, title and interest in and to such materials, including without limitation any modifications to the MentorMapp Marks or derivative works based on the MentorMapp Marks. You further agree to assign any interest or right you may have in such materials to MentorMapp, and to provide information and execute any documents as reasonably requested by MentorMapp to enable MentorMapp to formalize such assignment.
        </li>
      </ul>
    </li>
    <li>
      <strong>Copyright Complaints and Copyright Agent</strong>
      <ul>
        <li>
          MentorMapp respects the intellectual property of others, and expects Users to do the same. If you believe, in good faith, that any materials on the Services infringe upon your copyrights, please send the following information to MentorMapp at c/o 1871, 222 West Merchandise Mart Plaza, 12th Floor, Chicago, Illinois 60654:
          <ul>
            <li>
              a description of the copyrighted work that you claim has been infringed, including specific location on the MentorMapp Platform where the material you claim is infringed is located. Include enough information to allow MentorMapp to locate the material, and explain why you think an infringement has taken place;
            </li>
            <li>
              a description of the location where the original or an authorized copy of the copyrighted work exists – for example, the URL (Internet address) where it is posted or the name of the book in which it has been published;
            </li>
            <li>
              your address, telephone number, and e-mail address;
            </li>
            <li>
              a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
            </li>
            <li>
              a statement by you, made under penalty of perjury, that the information in your notice is accurate, and that you are the copyright owner or authorized to act on the copyright owner’s behalf; and
            </li>
            <li>
              an electronic or physical signature of the owner of the copyright or the person authorized to act on behalf of the owner of the copyright interest.
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>
  <ol>
    <li>
      <strong>Disclaimers</strong>
      <ul>
        <li>
          The following disclaimers are made on behalf of MentorMapp, our affiliates, and each of our respective officers, directors, employees, agents, shareholders and suppliers.
        </li>
        <li>
          The MentorMapp Platform is provided on an “as is” basis and without any warranty or condition, express, implied or statutory. We do not guarantee and do not promise any specific results from use of the MentorMapp Platform and/or the Services, including the ability to provide or receive Services at any given location or time.
        </li>
        <li>
          We specifically disclaim any implied warranties of title, merchantability, fitness for a particular purpose and non-infringement. Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you. This warranty gives you specific legal rights and you may also have other legal rights that vary from state to state.
        </li>
        <li>
          We do not warrant that your use of the MentorMapp Platform or Services will be accurate, complete, reliable, current, secure, uninterrupted, always available, or error-free, or will meet your requirements, that any defects in the MentorMapp Platform will be corrected, or that the MentorMapp Platform is free of viruses or other harmful components. We disclaim liability for, and no warranty is made with respect to, connectivity and availability of the MentorMapp Platform or Services.
        </li>
        <li>
          We have no control over the quality of the coaching that occurs as a result of the Services. We cannot ensure that a Coach or Customer will complete an arranged coaching service.
        </li>
        <li>
          We cannot guarantee that each User is who he or she claims to be. We encourage you to communicate directly with each potential Coach or Customer prior to engaging in an arranged coaching service.
        </li>
        <li>
          MentorMapp is not responsible for the conduct, whether online or offline, of any User of the MentorMapp Platform or Services. You are solely responsible for your interactions with other Users. We do not procure insurance for, nor are we responsible for, personal belongings left at a coaching session by Coaches or Customers. By using the MentorMapp Platform and participating in the Services, you agree to accept such risks and agree that MentorMapp is not responsible for the acts or omissions of Users on the MentorMapp Platform or participating in the Services.
        </li>
        <li>
          It is possible for others to obtain information about you that you provide, publish or post to or through the MentorMapp Platform (including any profile information you provide), send to other Users, or share during the Services, and to use such information to harass or harm you. We are not responsible for the use of any personal information that you disclose to other Users on the MentorMapp Platform or through the Services. Please carefully select the type of information that you post on the MentorMapp Platform or through the Services or release to others. We disclaim all liability, regardless of the form of action, for the acts or omissions of other Users (including unauthorized users, or “hackers”).
        </li>
        <li>
          Opinions, advice, statements, offers, or other information or content made available through the MentorMapp Platform, but not directly by us, are those of their respective authors, and should not necessarily be relied upon. Such authors are solely responsible for such content. Under no circumstances will we be responsible for any loss or damage resulting from your reliance on information or other content posted on the MentorMapp Platform or otherwise disseminated by third parties. We reserve the right, but we have no obligation, to monitor the materials posted in the public areas of the MentorMapp Platform and remove any such material that in our sole opinion violates, or is alleged to violate, the law or this agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of Users or others.
        </li>
        <li>
          The MentorMapp Platform contains (or you may be sent through the MentorMapp Platform) links to other web sites owned and operated by third parties (“Third Party Sites”), as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software and other content or items belonging to or originating from third parties (“Third Party Content”). Such Third Party Sites and Third Party Content are not investigated, monitored or checked for accuracy, appropriateness, or completeness by us, and we are not responsible for any Third Party Sites or Third Party Content accessed through the MentorMapp Platform.
        </li>
      </ul>
    </li>
    <li>
      <strong>Indemnity</strong>
      <ul>
        <li>
          You will defend, indemnify, and hold us and our affiliates and each of our respective officers, directors, employees, agents, shareholders and suppliers harmless from any claims, actions, suits, losses, costs, liabilities and expenses (including reasonable attorneys’ fees) relating to or arising out of your use of the MentorMapp Platform and participation in the Services, including:
          <ul>
            <li>
              your breach of this Agreement or the documents it incorporates by reference;
            </li>
            <li>
              your violation of any law or the rights of a third party, including, without limitation, Coaches and Customers as a result of your own interaction with such third party;
            </li>
            <li>
              any Services you provide, including coaching, advice, recommendations, and instructions, and any outcomes or consequences of those Services, whether intended or unintended;
            </li>
            <li>
              any allegation that any materials that you submit to us or transmit through the MentorMapp Platform or to us infringe or otherwise violate the copyright, trademark, trade secret or other intellectual property or other rights of any third party;
            </li>
            <li>
              any other activities in connection with the Services. This indemnity shall be applicable without regard to the negligence of any party, including any indemnified person.
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>
  <ol>
    <li>
      <strong>Limitation of liability</strong>
      <ul>
        EACH OFFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SHAREHOLDERS ORLE TO YOU FOR ANY INCIDENTAL, SPECIAL, PUNITIVE, CDING, BO, DAMAGES FOR DELETION, CORRUPTION, LOSS OF DATA, LOSS, FAILURE TO STORE ANY INFORMATION OR OTHER CONTENT MAINTAINED OR TRANSMITTED BY THE MentorMapp PLATFORM, SERVICE INTERRUPTIONS, OR FOR THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES) ARISING OUT OF OR IN CONNECTION WITH THE MentorMapp PLATFORM, THE SERVICES, OR THIS AGREEMENT, HOWEVER ARISING INCLUDING NEGLIGENCE, EVEN IF WE OR OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. WE WILL NOT BE LIABLE FOR ANY DAMAGES, DIRECT, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL AND/OR CONSEQUENTIAL (INCLUDING, BUT NOT LIMITED TO PHYSICAL DAMAGES, BODILY INJURY, DEATH AND/OR EMOTIONAL DISTRESS AND DISCOMFORT) ARISING OUT OF YOUR COMMUNICATING WITH OR MEETING OTHER USERS OF THE MentorMapp PLATFORM OR SERVICES, EVEN IF WE OR OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. CERTAIN JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
      </ul>
    </li>
      <strong>Release</strong>
      <ul>
        h one ou agree to release MentorMapp (including our of our respective officers, directors, employees, agents, shareholders, and suppliers) from claims, demands and damages of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected to such disputes with other Users or to your use of the MentorMapp Platform or participation in the Services. Furthermore, you expressly waive any rights you may have under California Civil Code Section 1542 (or analogous laws of other states), which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor.” We reserve the right, but have no obligation, to monitor disputes between you and other Users.
      </ul>
    </li>
    <li>
      <strong>Term and Termination</strong>
      <ul>
        <li>
          This Agreement is effective upon your creation of a User account, as amended by any modifications made. You may discontinue your use of the MentorMapp Platform or participation in the Services at any time, for any reason. We may suspend or deactivate your User account (either as a Coach and/or Customer), or revoke your permission to access the MentorMapp Platform, at any time, for any reason, upon notice to you. We reserve the right to refuse access to the MentorMapp Platform to any User for any reason not prohibited by law. Either party may terminate the Agreement for any reason upon written notice to the other party.
        </li>
      </ul>
    </li>
    <li>
      <strong>Agreement to Arbitrate All Disputes and Legal Claims</strong>
      <ul>
        <li>
          Any dispute or claim relating in any way to this Agreement (including but not limited to the use of the MentorMapp Platform and/or the Services, or the interpretation, enforceability, revocability, or validity of the Agreement, or the arbitrability of any dispute) that cannot be resolved informally will be resolved by binding arbitration before a single arbitrator in Chicago, Illinois, rather than in court, except that you may assert claims in small claims court if your claims qualify. The Federal Arbitration Act and federal arbitration law apply to this Agreement. The arbitration will be administered by the American Arbitration Association in accordance with the Commercial Arbitration Rules then in effect, except as modified by this section. Judgment of the arbitration award may be entered into any court having jurisdiction thereof. You and MentorMapp each agree that any dispute resolution proceedings will be conducted only on an individual basis and not in a class, consolidated or representative action. Further, unless both you and MentorMapp otherwise agree in writing, the arbitrator may not consolidate more than one person’s claims, and may not otherwise preside over any form of any class or representative proceeding. If for any reason a claim proceeds in court rather than in arbitration you and MentorMapp each waive any right to a jury trial. Both parties agree that either may bring suit in court to enjoin infringement or other misuse of intellectual property rights. You and MentorMapp irrevocably consent to the exclusive jurisdiction of the courts located in Chicago, Illinois and the Northern District of Illinois in connection with any litigation. Both parties waive any objection based on lack of personal jurisdiction, place of residence, improper venue or forum non conveniens in any such action. YOU ACKNOWLEDGE THAT UNDER THIS AGREEMENT YOU ARE CONSENTING TO ARBITRATION AND WAIVING ANY RIGHT TO A JURY TRIAL AND TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS.
        </li>
      </ul>
    </li>
    <li>
      <strong>Confidentiality</strong>
      <ul>
        <li>
          You agree not to use any technical, financial, strategic and other proprietary and confidential information relating to MentorMapp’s business, operations and properties, including User information (“Confidential Information”) disclosed to you by MentorMapp for your own use or for any purpose other than as contemplated herein. You shall not disclose or permit disclosure of any Confidential Information to third parties. You agree to take all reasonable measures to protect the secrecy of and avoid disclosure or use of Confidential Information of MentorMapp in order to prevent it from falling into the public domain. Notwithstanding the above, you shall not have liability to MentorMapp with regard to any Confidential Information which you can prove: was in the public domain at the time it was disclosed by MentorMapp or has entered the public domain through no fault of yours; was known to you, without restriction, at the time of disclosure, as demonstrated by files in existence at the time of disclosure; is disclosed with the prior written approval of MentorMapp; becomes known to you, without restriction, from a source other than MentorMapp without breach of this Agreement by you and otherwise not in violation of MentorMapp’s rights; or is disclosed pursuant to the order or requirement of a court, administrative agency, or other governmental body; provided, however, that You shall provide prompt notice of such court order or requirement to MentorMapp to enable MentorMapp to seek a protective order or otherwise prevent or restrict such disclosure.
        </li>
      </ul>
    </li>
    <li>
      <strong>No Agency</strong>
      <ul>
        <li>
          You and MentorMapp are independent contractors, and no agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship is intended or created by this Agreement.
        </li>
      </ul>
    </li>
    <li>
      <strong>Notices, Complaints</strong>
      <ul>
        <li>
          Except as explicitly stated otherwise, any notices to MentorMapp shall be given by certified mail, postage prepaid and return receipt requested to:
        </li>
      </ul>
    </li>
  </ol>
  <p>
    c/o 1871
  </p>
  <p>
    West Merchandise Mart Plaza
  </p>
  <p>
    12th Floor
  </p>
  <p>
    Chicago, Illinois 60654
  </p>
  <p>
  </p>
  <ul>
    <li>
      Such notice shall be deemed given five business days after the date of mailing. Any notices to you shall be provided to you through the MentorMapp Platform or given to you via the email address you provide to MentorMapp during the registration process, and such notice shall be deemed given immediately upon sending. Alternatively, we may give you notice by certified mail, postage prepaid and return receipt requested, to the address provided to MentorMapp during the registration process. In such case, notice shall be deemed given five business days after the date of mailing.
    </li>
    <li>
      To resolve a complaint regarding the MentorMapp Platform, you should first contact our company directly at info@MentorMapp.com.
    </li>
  </ul>
  <ol>
    <li>
      <strong>General</strong>
      <ul>
        <li>
          This Agreement shall be governed by the laws of the State of Illinois without regard to choice of law principles. If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. You agree that this Agreement and all incorporated agreements may be automatically assigned by MentorMapp, in our sole discretion in accordance with the “Notices” section of this Agreement. Headings are for reference purposes only and in no way define, limit, construe or describe the scope or extent of such section. A party’s failure to act with respect to a breach by the other party does not constitute a waiver of the party’s right to act with respect to subsequent or similar breaches. This Agreement sets forth the entire understanding and agreement between you and MentorMapp with respect to the subject matter hereof.
        </li>
      </ul>
    </li>
    <li>
      <strong>Privacy Policy</strong>
      <ul>
        <li>
          MentorMapp is dedicated to protecting Your personal information and informing You about how We use it. This privacy policy applies to transactions and activities and data gathered through the MentorMapp Platform. Please review this privacy policy periodically as We may revise it without notice. Each time You use the MentorMapp Platform or provide Us with information, by doing so You are accepting the practices described in this privacy policy at that time.
        </li>
      </ul>
    </li>
    <li>
      <strong>Data We Collect From You</strong>
      <ul>
        <li>
          In order to operate the MentorMapp Platform and to provide You with information about products or services that may be of interest to You, We may collect “personal information” (i.e. information that could be used to contact You directly (without using the MentorMapp Platform) such as full name, postal address, phone number, credit/debit card information, or email address) or “demographic information” (i.e. information that You submit, or that We collect, that is not personal information; this may include, but is not limited to, zip code, hometown, gender, username, age/birth date, browsing history information, and searching history information). You represent and warrant that You have the authority to provide Us with any such contact information. Demographic information is divided into two categories:
          <ul>
            <li>
              “non-public information”, which consists of one-on-one communications between You and other users of the MentorMapp Platform; and
            </li>
            <li>
              “public information”, which consists of all other demographic information.
            </li>
          </ul>
        </li>
        <li>
          Please note that nowhere on the MentorMapp Platform do We knowingly collect, keep or maintain personal information from children under the age of 18, as We require that all users represent to Us that they are at least 18 years old.
        </li>
        <li>
          How We Use Personal Information
        </li>
        <li>
          We use Your email address and Your other personal information to help Us efficiently operate the MentorMapp Platform, to contact You in connection with Your transactions and other activities on the MentorMapp Platform (including, but not limited to, confirmation emails, or important news that could affect Your relationship with MentorMapp), to forward session information to You from other Users, to forward session information from You to other Users, and to contact You and others to suggest potential matches. We use Your contact information to find and connect with Your friends (when instructed by You). These types of communications are known as “Operational Communications.” In some cases, Operational Communications may also contain commercial messages, such as banner ads and special offers.
        </li>
        <li>
          To operate the MentorMapp Platform, including processing Your transactions and supporting Your activities on the MentorMapp Platform, We may share Your personal information with Our agents, representatives, contractors and service providers so they can provide Us with support services such as email origination, receipt or support services, customer relationship management services, and order fulfillment. We require these entities not to use Your information for any other purpose.
        </li>
        <li>
          By purchasing, or registering or making reservations for, products or services offered or sponsored by third parties on the MentorMapp Platform, or electing to receive communications (such as emails or material by mail) or electing to participate in contests, sweepstakes or other programs (such as discount or rewards programs), offered or sponsored by third parties on the MentorMapp Platform, You consent to Our providing Your personal information to those third parties. Those third parties may use Your personal information in accordance with their own privacy policies. You will need to contact those third parties to instruct them directly regarding Your preferences for the use of Your personal information by them. Additionally, You agree that We may use and disclose all such information so submitted to such third parties in the same manner in which We are entitled to use and disclose any other information You submit to Us.
        </li>
        <li>
          Any third party with whom We are allowed to share Your personal information is authorized to use Your personal information in accordance with Our contractual arrangements with such third parties and in accordance with their own privacy policies, over which We have no control, and You agree that We are not responsible or liable for any of their actions or omissions. Those who contact You will need to be instructed directly by You regarding Your preferences for the use of Your personal information by them.
        </li>
      </ul>
    </li>
    <li>
      <strong>How We Use Demographic Data</strong>
      <ul>
        <li>
          We may review all demographic Data. We may use public information to enable other users to search Your profile and to communicate with You. We may use demographic information to tailor the MentorMapp Platform and communications to Your interests. We may also share demographic information with advertisers on an anonymous and aggregated basis (i.e., without telling the advertisers Your identity). One of the reasons We may do this is to increase the likelihood that Our advertisers’ goods and services will appeal to You as a user of the MentorMapp Platform. Our sharing of demographic information with advertisers is anonymous (i.e., We do not tell advertisers which particular MentorMapp Users are members of which demographic groups), subject to the rest of this privacy policy. When You respond to an advertisement, however, We ask You to remember that if that ad that is targeted to a demographic group and You decide to give the advertiser Your personal information, then the advertiser may be able to identify You as being a member of that demographic group.
        </li>
      </ul>
    </li>
    <li>
      <strong>How to Edit Your Information</strong>
      <ul>
        <li>
          MentorMapp provides You with the ability to access and edit Your personal information. To update Your personal info, click Settings in the MentorMapp menu. There You can view, update and correct Your account information.
        </li>
        <li>
          So that We can protect the integrity of sensitive data, there are certain pieces of information, such as Your age, that You cannot alter Yourself.
        </li>
        <li>
          Our databases automatically update any personal information You edit in Your profile, or that You request We edit. Information transmitted through boards, chats, polls or through any other means remain in Our databases and become the property of MentorMapp upon submission. Keep this in mind if You decide to communicate personal information through any of these applications.
        </li>
      </ul>
    </li>
    <li>
      <strong>Information Retention</strong>
      <ul>
        <li>
          To preserve the integrity of Our databases, standard procedure calls for Us to retain information submitted by members for an indefinite length of time. MentorMapp understands Your submissions as consent to store all Your information in one place for this indefinite length of time, if We so wish. If required by law, as is the case to comply with the Children’s Online Privacy Protection Act (COPPA), We will nullify member information by erasing it from Our database. We will also respond to written member requests to nullify account information. Also, by using the MentorMapp Platform, You do hereby represent and warrant that You understand and agree that all information submitted by You through the MentorMapp Platform or otherwise to MentorMapp becomes the property of MentorMapp and may be used in the sole discretion of MentorMapp in accordance with this Privacy Policy and the Terms of Use.
        </li>
      </ul>
    </li>
    <li>
      </a> <strong>Choice/Opt-Out</strong>
      <ul>
        <li>
          MentorMapp provides Users the opportunity to opt-out of receiving communications from Us and Our partners at the point where We request information about the visitor. MentorMapp gives Users the option to remove their information from Our database, to not receive future communications or to no longer receive Our service.
        </li>
      </ul>
    </li>
    <li>
     <strong>Special Cases in Which We Share Personal Information</strong>
      <ul>
        <li>
          Your personal information may be passed on to a third party in the event of a transfer of ownership or assets, or a bankruptcy. We may also disclose personal information when We determine that such disclosure is necessary to comply with applicable law, to cooperate with law enforcement or to protect the interests or safety of MentorMapp or other visitors to the MentorMapp Platform. We also may disclose Your personal information to Our subsidiary and parent companies and businesses, and other affiliated legal entities and businesses with whom We are under common corporate control. Whenever personal information is disclosed under this paragraph, We may also disclose Your demographic information along with it, on a non-anonymous basis. All of Our parent, subsidiary and affiliated legal entities and businesses that receive Your personal information or non-anonymous demographic information from Us will comply with the terms of this privacy policy with respect to their use and disclosure of such information.
        </li>
      </ul>
    </li>
    <li>
      <strong>Our Security Precautions</strong>
      <ul>
        <li>
          Your MentorMapp Profile is password-protected so that only You and authorized MentorMapp employees have access to Your account information. In order to maintain this protection, do not give Your password to anyone. MentorMapp staff will never proactively reach out to You and ask for any personal account information, including Your password. If You share a computer, You should sign out of Your MentorMapp account and close the browser window before someone else logs on. This will help protect Your information entered on public terminals from disclosure to third parties.
        </li>
        <li>
          MentorMapp makes every effort to ensure that Your information is secure on its system. MentorMapp has staff dedicated to maintaining Our privacy policy as set forth herein and other privacy initiatives, periodically reviewing Web security and making sure that every MentorMapp employee is aware of Our security practices. Your information may be transferred to and maintained on computer networks which may be located outside of the state, province, country or other governmental jurisdiction in which You reside, and the country or jurisdiction in which these computer networks are located may not have privacy laws as protective as the laws in Your country or jurisdiction. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, MentorMapp cannot guarantee the security of any information You transmit to Us, and You do so at Your own risk. If You have any further questions on this issue, refer to MentorMapp Terms of Use. MentorMapp expressly disclaims any liability that may arise should any other individuals obtain the information You submit to the MentorMapp Platform.
        </li>
        <li>
          The MentorMapp Platform may contain links to other web sites. We are of course not responsible for the privacy practices of other web sites. We encourage Our Users to be aware when they leave the MentorMapp Platform to read the privacy statements of each and every web site that collects personally identifiable information. This Privacy Policy applies solely to information collected by the MentorMapp Platform.
        </li>
      </ul>
    </li>
    <li>
      <strong>Changing Our Privacy Policy for Previously Gathered Information</strong>
      <ul>
        <li>
          If at any point We decide to use particular personally identifiable information in a manner materially different from that stated at the time it was collected, We will notify Users by way of an email or by providing 30 days notice on the MentorMapp Platform. We also encourage You to review this privacy policy periodically. By using the MentorMapp Platform, You do hereby represent and warrant that You have read, understand and agree to all terms of Agreement. Each time You use the MentorMapp Platform, You agree to all terms set forth in this Agreement and any other policies published by MentorMapp on the MentorMapp Platform. Please note that We will continue to have the right to change Our privacy policy and practices, and how We use Your personally identifiable information, without notice, as described in herein, provided that such changes shall only apply to information gathered on or after the date of the change.
        </li>
      </ul>
    </li>
    <li>
      <strong>Contacting MentorMapp</strong>
      <ul>
        <li>
          If You have any questions about this privacy statement, the practices of MentorMapp, or Your dealings with MentorMapp, You may contact Us at info@MentorMapp.com.
          <p>
          </p>
        </li>
      </ul>
    </li>
  </ol>
  <p>
  </p>
  <p>
    Document Name and Date
  </p>
  <p>
    <strong>TERMS OF SERVICE &amp; USER AGREEMENT</strong>
  </p>
  <p>
    <strong>11-11-2015</strong>
  </p>
  <p>
  </p>
</div>

<style>
    body{
        background-image: none;
    }
</style>


